.container{
    padding:0 3%;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.client_card{
    margin-bottom: 2rem;
    height:5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:10px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.client_card:hover{
    font-weight:500;
    background-color: var(--tertiary);
}

.card_image{
    position: relative;
    border-right: 1px solid lightgray;
    width:90px;
    height:100%;
}

.client_details{
    margin:0 auto;
}

@media (min-width: 1000px) {
    .client_container{
        display: flex;
        flex-wrap: wrap;
    }

    .client_card{
        margin:1rem;
        margin-left:4%;
        height:10rem;
        width:20%;
    }

    .card_image{
        width:10rem;
    }
}