.container {
    padding: 0 3%;
}

.container h2 {
    padding: 0 5px;
}

.client_detail_container {
    margin-bottom: 10px;
}

.client_detail_container p {
    margin: 0;
}

.client_detail_container h2 {
    margin-bottom: 5px;
}

.main_content_container {
    margin: 10px 0;
    overflow: auto;
}

@media (min-width: 1024px) {
    .main_content_container {
        height: 70vh;
    }
}