.container {
    padding:0 3%;
}

.container h2{
    padding:0 5px;
}

.client_detail_container {
    margin-bottom: 10px;
}

.client_detail_container p {
    margin: 0;
}

.client_detail_container h2 {
    margin-bottom: 5px;
}

.main_content_container{
    height:50vh;
    padding: 10px 5px;
    margin: 10px 0;
    overflow: auto;
}

.button_container button {
    margin-right: 5px;
}

.string_job_header_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.string_job_header_card button{
    height:20px;
}

.string_job_card {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.string_job_card span {
    display: block;
}

.string_job_card:hover{
    font-weight:500;
    background-color: var(--tertiary);
}

.string_job_card:active{
    background-color: var(--tertiary);
}

@media (min-width: 1024px) {
    .main_content_container{
        height:70vh;
    }
}