.form_container{
    padding:0 3%;
    height:80vh;
}

.form_container input, .form_container select, .form_container textarea{
    display:block;
    margin: 5px 0;
}

.form_container button{
    display: block;
    margin-top:15px;
}