.container{
    position: fixed;
    top:5rem;
    right:15px;
    left:15px;
    height: 70vh;
    padding:0 5%;
    background-color: #fff;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.header_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header_container span{
    cursor: pointer;
}

.container h3{
    margin:0;
}

.container button{
    display:block;
    margin:20px 0;
    width:100%;
}

.client_racket_form input{
    display: block;
}

.client_racket_form select, .client_racket_form input{
    margin-bottom:10px;
}


@media (min-width:1024px) {
    .container{
        top: 6rem;
        right:25%;
        left:25%;
        height: 75vh;
        padding:0 1%;
    }
}