.table {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height:40vh;
}

.table_header,
.table_row {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.table_header h4,
.table_row span {
    width: 150px;
}

.table_header h4 {
    margin: 10px 0;
    padding: 0 5px;
}

.table_row span {
    padding: 5px;
}

.table_row:nth-child(even) {
    background-color: var(--tertiary);
}

.table_row:hover {
    border: 1px solid var(--primary);
}

.button_container{
    text-align: center;
}

.add_button {
    width:80%;
    margin-top: 5vh;
}

@media (min-width:1024px) {
    .button_container{
        text-align: right;
    }

    .add_button {
        margin-right:15px;
        width: 150px;
    }
}