:root {
  --primary: #11888F;
  --secondary: #002A32;
  --tertiary: #E6F4F1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  border-radius: 5px;
  border: 1px solid black;
  background-color: lightgray;
  color: var(--secondary);
  cursor: pointer;
  width: 80px;
  height: 20px;
}

button:active {
  box-shadow: 0px 1px 0px 0px;
}

button:hover {
  /* background-color: #000; */
  /*  Making button bigger on hover  */
  transform: scale(1.1) perspective(1px)
}

input,
select {
  font-size: 16px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

button{
  border: none;
  border-radius: 15px;
  height:30px;
  background-color: var(--primary);
  color:white;
  font-weight: 500;
}

.overlay{
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}